@model List<WorkFlow.Data.LoadFormClass>

@{

    Layout = null;
}
<style>
    input, label {
        display: block;
        text-align: right;
    }

    label {
        font-size: 15px;
        font-weight: 500;
    }
</style>
@* <br /> *@
<div class="card" style="width:100%!important">
    <div class="card-header"> استعراض بينات الادخال  </div>
    <div class="card-body">

        <div>
            @foreach (var Req in Model)
            {
                var ClassV = "form-control ";
                if (@Req.IsRequired == true)
                    ClassV = "form-control ValidationClass ";

                int i = 0;

                <div class="row">

                    <section dir="rtl">

                        <div>
                            <div class="row">
                                <div class="col">         <label for="name">@Req.ColumnNameValue </label></div>

                                <div class="col-1">
                                    <span class='fa fa-trash ' style='color:#ff0000b3;margin-top: 12px;' onclick="DeleteRequement(@Req.Application_Requirement_Id)"></span>
                            </div>
                            </div>
                            @if (Req.ToolsId == 1)
                            {
                                if (Req.ColumnNameValue != "Notes")
                                {
                                    <input type="text" class="@ClassV" name="[@i].S_Value" style="width:100%" required="@Req.IsRequired" />
                                }
                                else
                                {

                                    <textarea name="[@i].S_Value" class="@ClassV" rows="3" cols="10" required></textarea>
                                }
                            }

                            @if (Req.ToolsId == 2)
                            {
                                <input type="number" class="@ClassV" name="[@i].S_Value" Required required="@Req.IsRequired" />

                            }
                            @if (Req.ToolsId == 3)
                            {
                                <input type="date" class="@ClassV" name="[@i].S_Date" Required required="@Req.IsRequired" />


                            }
                            @if (Req.ToolsId == 4)
                            {
                                if (Req.Tools != null)
                                {
                                    <select name="[@i].NewDrop" id="[@i].NewDrop" class="@ClassV Ssearch" required="@Req.IsRequired">
                                        <option value="">None</option>
                                        @if (Req.ApplicationRequirementDetail != null)
                                        {
                                            <option value="@Req.ApplicationRequirementDetail.ApplicationRequirementId">@Req.ApplicationRequirementDetail.RequirementName</option>
                                        }
                                    </select>




                                }


                            }
                            @if (Req.ToolsId == 5)
                            {
                                //FromDataBase

                                if (Req.SharedTableId != null)
                                {

                                    <script type="text/javascript">
                                        LoadSharedTable(@Req.Application_Requirement_Id);
                                    </script>
                                    <select id="@Req.Application_Requirement_Id" name="[@i].S_Shared_Table_Id_Value" class="@ClassV Ssearch" required="@Req.IsRequired"></select>




                                }
                            }
                            @if (Req.ToolsId == 6)
                            {///CheckBox New
                                if (Req.ApplicationRequirementDetail != null)
                                {
                                    <label class="checkbox-inline">
                                        <input class="@ClassV" type="checkbox" name="[@i].Application_Req_Details_Id" id="Req.Application_Requirement_Id" value="@Req.ApplicationRequirementDetail.ApplicationRequirementId">
                                        @Req.ApplicationRequirementDetail.RequirementName
                                    </label>
                                }
                            }


                            @if (Req.ToolsId == 7)
                            {///CheckBox From Data Base
                                <input class="@ClassV" type="checkbox" name="[@i].S_Shared_Table_Id_Value" required="@Req.IsRequired" />

                            }

                            @if (Req.ToolsId == 8 || Req.ToolsId == 11)
                            {///Upload

                                <label for="file1">Filename:</label>
                                <input type="file" name="[@i].files" id="file1" class="@ClassV" multiple required="@Req.IsRequired" />

                                @*<label for="file2" class="@ClassV">Filename:</label>
                        <input type="file" name="[@i].files" id="file2" class="@ClassV" />*@

                            }

                            @if (Req.ToolsId == 10)
                            {

                                <div id="@Req.Application_Requirement_Id"></div>
                                <script>

                                    var Functionname = '@Req.DisplayLink.DisplayFunction';
                                    var Emp = '@Req.Employe.UserId';
                                    var DivId = '@Req.Application_Requirement_Id';

                                    // Call function:
                                    window[Functionname](Emp, DivId);
                                </script>
                            }
                            @if (Req.ToolsId == 12)
                            {
                                @Html.Partial("_LetterEdit")
                            }
                        </div>

                    </section>




                </div>
                i++;
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
       
        $(".Ssearch").select2()
    });

    
</script>


