@model WorkFlow.Models.Application

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationNameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationNameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrEmpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrEmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpEmpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpEmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationInUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationInUse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section.SectionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplicationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
